@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import "variables/variables";

body{
	font-family: $body-font;
	font-size: $body-fontsize;
	font-weight: $font-light;
	font-style: $font-normal;
	color: $black;
	line-height: 2;
	letter-spacing: 1px;
}
a{
	color: $black;
	text-decoration: none;
}
a:hover,a:visited,a:link{
	text-decoration: none;
	color: $black;
}
strong{
	font-family: $body-font;
	font-weight: $font-semi-bold;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
h1{
	font-family: $montserrat;
	font-size: 44px;
	font-weight:  $font-semi-bold;
	letter-spacing: 2px;
	margin: 0;
	position: relative;
	z-index: 1;
	line-height: 65px;
}
h2{
	@extend h1;
}
.section-title{
	@extend h1;
}
h3{
	font-family: $montserrat;
	font-size: 40px;
	font-weight: $font-normal;
	margin:  40px 0 40px 0;
	letter-spacing: 3px;
	border-bottom: 1px solid;
	padding: 0 0 45px;
	border-bottom: 0;
	padding: 0;
}
.h3{
	@extend h3;
}
.title{
	@extend h3;
	border-bottom: 1px solid;
	padding: 0 0 45px;
}
h4{	
	font-family: $montserrat;
	font-size: 22px;
	font-weight: $font-normal;
	margin-top: 0;
	text-transform: uppercase;
}
h5{
	font-family: $montserrat;
	font-size: 16px;
	font-weight: $font-semi-bold;
	text-transform: uppercase;
	margin: 0 0 15px 0;
	line-height: 1;
}
h6{
	font-size: 14px;
	font-family: $montserrat;
	font-weight: $font-bold;
	text-transform: uppercase;
	line-height: 2;
	letter-spacing: 2px;
	margin: 0;
}
.press-title{
	font-family: $montserrat;
	font-weight: $font-semi-bold;
	text-transform: capitalize;
	padding-bottom: 20px;
	border-bottom: 1px solid;
	margin: 40px 45px 20px;
}
.common-space{
	padding: 80px 0;
}
.second-space{
	padding: 140px 0;
}
img{
	max-width: 100%;
}
.btn-default{
	background-color: transparent;
	font-family: $montserrat;
	font-style: $font-normal;
	font-weight: $font-semi-bold;
	color: $black;
	border: none;
    border-radius: 0;
    letter-spacing: 1px;
	padding: 8px 0;
	font-size: $primary-fontsize;
	&:hover{
		background-color: transparent;	
		border: none;
		color: $black;
	}
	&:focus{
		background-color: transparent;
	}
}
.btn{
	&:active{
		box-shadow: none;
		background-color: transparent;
	}	
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default.focus:active{
	background-color: transparent;
	color: $black;
}
.link-button{
	@extend .btn-default;
	margin: 30px 0;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
	padding-right: 30px; 
		&:after{
			content: "\f105";
			font-family: fontawesome;
			font-size: 23px;
			font-weight: 400;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
.view-more{
	@extend .link-button;
	padding-right: 0;
	margin: 0 0 30px;
	&:after{
		content: "\f107 ";
		top: auto;
		bottom: -35px;
		left: 0;
	}	
}
.view-more-container{
	clear: both;
}
.form-control{
	font-family: $body-font;
	font-style: $font-normal;
	color: $black;
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: #fff;
	width: 220px !important;
	height: 32px;
	letter-spacing: 2px;
		&::-moz-placeholder{
		color: $black;
		
		}
		&:-webkit-placeholder{
			color: $black;
		}
		&:-ms-placeholder{
			color: $black;
		}
		&:focus{
			box-shadow: none;
		}
	}

.flex-container{
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.container{
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 100px;
	position: relative;
	background: $cream;
}
.home{
	.container{
	@extend .container;
	background: transparent;
	}
}

.second-container{
	@extend .container;
	max-width: 1230px;
	background: transparent;
	padding: 0 15px;
}
.page-content{
	padding-top: 60px;
}
.col-centered{
	float: none;
	margin: 0 auto;
}
.left-padding{
	padding-left: 0;
}
.right-padding{
	padding-right: 0;
}
.no-pad{
	padding: 0;
}
.col-half{
	width: 50%;
	float: left;
}
/************  Header  **********/
	.navbar-default {
		background-color: transparent;
		border-color: transparent;
	}
	.navbar{
		border-radius: 0;
		margin-bottom: 0;
	}
	header{
		line-height: 140px;
		position: relative;
			#header{	
				max-width: 990px;
				margin: 0 auto;	
				padding: 0 15px;
				position: relative;
					.navigation{
						ul{
							li{
								display: inline-block;
								margin:10px 45px 0 0;
								a{
									text-transform: uppercase;
									font-size: $secondry-fontsize;
									font-weight: $font-semi-bold;
									&:hover{
										border-top: 2px solid;
										padding-top: 5px;
									}
								}
							}
						}	
					}
			}
		.top-header{
			position: absolute;
			right: 20px;
			top: 20px;
			line-height: 1;
			.social-icons{
				ul{
					li{
						display: inline-block;
						margin-right: 15px;
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
		}
		.logo{
			position: absolute;
			top: 50px;
			left: -160px;
			line-height: 1;
		}
	}
.main-container{
	.content{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 100px;
		-moz-column-gap: 100px;
		column-gap: 100px;
		padding: 75px 0 25px;
	}
	.home-villas{
		background: $cream;
		.row{
			margin: 0;
		}
		@at-root .content-box{
			background: $white;
			min-height: 604px;
			text-align: center;
			padding: 0 85px;
			.details{
				padding: 0 40px;
			}
		}
	}
	.content-area{
		text-align: center;
		.link {
			background: $white;
			display: block;
			font-size: 20px;
			font-weight: $font-bold;
			margin: -75px 25px 30px;
			padding: 30px;
			position: relative;
		}
	}
	.latest-blog{
		background:$cream;
		.content-box{
			min-height: 525px;
			background: transparent;
			h3{
				margin-top: 35px;
			}
		}
	}
	.home-contact{
		.navbar-form{
			margin-top: 60px;
			padding: 0;
		
		.form-group {
			float: left;
			padding-right: 15px;
			width: 55%;
			.form-control{
				background: #f8f8f8;
				margin-bottom: 15px;
				height: 50px;
				width: 100% !important;
				padding: 6px 20px;
				font-weight: $font-semi-bold;
			}
		}
		.message {
			float: left;
			width: 45%;
			.form-control{
				background: #f8f8f8;
				width: 100% !important;
				border: 0;
				padding: 12px 20px;
				font-weight: $font-semi-bold;
				color: $black;
			}
		}
	}
 }
 .testimonials{
	 padding-top: 85px;
	 .bx-wrapper{
		background: #f8f8f8;
	 }
	 .container{
		 background: transparent;
	 }
	 .testimonial-slider{
		 .testimonial-detail{
			 min-height: 500px;
			 padding-left: 40px;
			 padding-right: 10px;
			 text-align: center;
			 h4{
				 margin-bottom: 60px;
				 text-transform: capitalize;
			 }
		 }
		 .writer-name{
			bottom: 20px;
			position: absolute;
			right: 15px;
			text-transform: lowercase;
		 }
	 }
 }
 .home{
	 .testimonials{
		 padding-top: 0;
	 }
 }
 
 /**************  Gallery   ********************/
.gallery-page{
	position: relative;
	margin-top: 130px;
	.villas{
		position: absolute;
		top: 0;
		left: -72px;
		h4{
			text-transform: capitalize;
		}
	}
	.gallery-ul{
		li{
			width: 33.333%;
			float: left;
			padding: 8px;
			img{
				width: 100%;
			}
		}
	}	
}
 /*********  Common Pages ************/
	 .page-title {
		background: #fff none repeat scroll 0 0;
		padding: 40px 130px;
		text-align: center;
		&.with-banner{
			margin-top: -215px;
		}
		.short-description{
			padding: 0 25px;
		}
	}
	.page-banner{
		background-size: cover !important;
		min-height: 520px;
	}
	.page-content{
		h6{
			line-height: 4;
		}
		.description {
			h3{
				line-height: 60px;
			}
		}
		.question-answer{
		border-top: 1px solid;
		h6{
			margin-bottom: 0;
			line-height: 5;
			cursor: pointer;
			.down-arrow{
				float: right;
				&:before{
					content: "\f107";
					font-family: "fontawesome";
				}
				&.up-arrow{
					&:before{
						content: "\f106";
						font-family: "fontawesome";
					}
				}
			}
		}
		.answer{
			padding: 0 0 20px;
			display: none;
		}
		&:last-child{
			border-bottom: 1px solid $black;
		}
	 }	
		
	}
	.contact-us{
		padding-top: 80px;
		h4{
			text-transform: capitalize;
		}
		.contact-form{
			padding-left: 30px;
			.navbar-form {
				padding-right: 0;
			}
			.form-group{
				.form-control{
					width: 48.5% !important;
					margin-right: 0;
					margin-bottom: 15px;
					height: 45px;
					font-weight: $font-semi-bold;
					padding: 6px 20px;
					text-transform: capitalize;
					&:first-child{
						margin-right: 2%;
					}
					&:nth-child(3){
						margin-right: 2%;
					}
				}
			}
			.message{
				margin-bottom: 10px;
				textarea{
					width: 99.7% !important;
					font-weight: $font-semi-bold;
					padding: 15px 20px;
					text-transform: capitalize;
				}
			}	
		}
		
	}
	.booking{
		@extend .contact-us;
		.select:nth-of-type(2) {
			float: right;
		}
		.form-group{
			.select{
				position: relative;
				width: 48.5% !important;
				text-transform: capitalize;
				background: $white;
				float: left;
				margin-bottom: 15px;
				 &:nth-of-type(1){
						margin-right: 2.7%;
					}
				select{
				  border: 0 !important;
				  outline: 0;
				 -webkit-appearance: none;
					-ms-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background-color: transparent;
					cursor: pointer;
					position: relative;
					z-index: 10;
					&.form-control{
						width: 100% !important;
						margin: 0;
					}
					option{
						border: 0 !important;
						outline: 0;
					}
				 }
				
				 &:after {
					content: "\f078";
					font-family: 'FontAwesome';
					position: absolute;
					top: 8px;
					right: 10px;
					z-index: 5;
				}
			  }
			}
	}
	/*************  Press  ***************/
	.press-box{
		padding-bottom: 80px;
		text-align: center;
		.link-button{
			margin: 0;
		}
	}
 
}

/**************  Blog listing *****************/
.blog-page{
	background: $cream;
	margin-bottom: 85px;
	@at-root .date-author{
		margin-bottom: 30px;
		h5{
			text-transform: lowercase;
			font-weight: $font-semi-bold;
		}
	}
	&.second-space{
		padding-bottom: 0;
	}
	@at-root .home-contact{
		.container{
			background: transparent;
		}
	}
}

/********** Blog detail page *************/

.blog-content{
	@extend .page-content;
}
.blog-featured{
	@extend .page-banner;
}
.tags{
	padding-top: 30px;
	ul{
		li{
			display: inline;
		}
	}
}

.content-container{
	padding: 110px 0 65px;
	h3{
		margin-top: 10px;
	}
	.description{
		padding-bottom: 65px;
	}
	.features{
		@extend .description;
		h6{
			border-bottom: 2px solid;
			line-height: 5;
		}
	}
	.villa-sitemap-img{
		@extend .description;
	}
}
/*************** Footer *************/
#footer{
	.follow-us{
		h4{
			margin-bottom: 30px;
		}
		h5{
			margin-bottom: 50px;
		}
		text-align: center;
		.insta-feed{
			font-size: 20px;
			position: relative;
			@at-root .next {
				margin-top: -20px;
				position: absolute;
				right: 10px;
				top: 50%;
				color: $white;
				cursor: pointer;
				z-index: 99;
			}
			@at-root .prev {
				margin-top: -20px;
				position: absolute;
				top: 50%;
				left: 10px;
				color: $white;
				cursor: pointer;
				z-index: 99;
			}
		}
	}
	.subscribe-container{
		background: #f8f8f8;
		min-height: 260px;
		.subscribe-bg{
			background-size: cover !important;
			min-height: 260px;
		}
		.subscribe{
			min-height: 260px;
			display: flex;
			align-items: center;
			.subscribe-form{
				width: 655px;
				h5{
					display: inline-block;
					font-size: 25px;
					text-transform: lowercase;
					padding: 0 20px 0 5px;
				}
				.navbar-form{
					display: inline-block;
					.form-group{
						display: block;
						input{
							&:first-child{
								margin-right: 8px;
							}
						}
					}
				}
			}
		}
	}
	.footer-menus{
		text-align: center;
		line-height: 55px;
		ul{
			li{
				margin-right: 60px;
				display: inline-block;
				a{
					font-size: $secondry-fontsize;
					text-transform: uppercase;
					font-weight: $font-semi-bold;
					&:hover{
							border-top: 2px solid;
							padding-top: 5px;
						}
				}
				&:last-child{
					&:after{
						content: "";
					}
				}
				&:after{
						content: "-";
						position: absolute;
						padding-left: 30px;
					}
			}
		}
	}
	.credit{
		text-align: center;
		line-height: 140px;
		background: #efeff0;
		color: $black;
	}
}	
	
